MarkupSafe
psycopg2-binary
environ
flask
flask_restful
coverage
pytest
boto3
requests
responses
urllib3
python-dotenv
asyncio
mock
pip-system-certs
qrcode
Pillow
aws-cdk-lib==2.158.0
constructs>=10.0.0,<11.0.0


