MarkupSafe
psycopg2-binary
environ
flask
flask_restful
coverage
pytest
boto3
requests
responses
urllib3
python-dotenv
asyncio
mock
pip-system-certs
qrcode
Pillow
jsonify
aws-wsgi
flask_cors
huggingface_hub

