<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My First Web Page</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="jumbotron text-center">
    <h2>Welcome to my first web page</h2>


        <div id="container"></div>
        <form>
          <div id="grp" class="form-group">
            <input id="mykey" class="form-control" type="text" value="{{uid}}" ></input>
            <textarea id="w3review" class="form-control" rows="2" name="w3review">
             Please type something here
            </textarea>
          </div>
          <button class="btn btn-primary" id="submit_btn" type="button">Submit</button>
          <button class="btn btn-primary" id="gen_btn" type="button">Generate New URL</button>
        </form>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <!-- <button class="btn btn-primary" type="button">Show QR Code</button> -->
                <a data-toggle="collapse" href="#collapse1">Show QR Code</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                
                <img class="img-responsive" src="/static/images/{{uid}}.png" alt="This is an image" style="width:400px;height:400px;">
              </div>
              <div class="panel-footer">Panel Footer</div>
            </div>
          </div>
        </div>

        


    <script>

      $(function () {

        $('#submit_btn').click(function () {

          var textarea = document.getElementById('w3review');

          v = $.trim(textarea.value);

          var q = '<input class="form-control" type="text" value="'+ v +'" ></input>'
          $("#grp").append(q);

          var mykey = document.getElementById('mykey').value;

          $.post("/db_add",
          {
            key: mykey,
            content: textarea.value
          },
          function(data, status){
            console.log("Data: " + data + "\nStatus: " + status);

          });

          textarea.value = "";

        });

        $('#gen_btn').click(function () {

          
          window.location.href='http://127.0.0.1:5000/generate';
        });

      });
    </script>
  </div>
</body>

</html>

