<div id="content">
  <div id="mykey2" class="well">Key:{{uid}}</div>
      <div id="container">
        <div class="row">
          <div class="col-12 col-sm-6 d-none d-sm-block"></div>
          <div class="col-12 col-sm-6 d-block d-sm-none"></div>
       </div>
        <table id="myTable" class="table table-striped">
          <div class="copied-toast"></div>
          <thead>
            <tr>
              <th>Message</th>
              <th>Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <form>
        <div id="grp" class="form-group">
          <input id="mykey" class="form-control" type="hidden" value="{{uid}}" ></input>
          <label for="comment">Comment:</label>
          <textarea id="w3review" class="form-control" rows="2" name="w3review">
          </textarea>
          <br>
        </div>
        <button class="btn btn-primary" id="submit_btn" type="button">Submit</button>
        <button class="btn btn-primary" id="chat_btn" type="button">Chat</button>
        <!--
        <button class="btn btn-primary" id="gen_btn" type="button">Generate New URL</button>
        -->
      </form>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <!-- <button class="btn btn-primary" type="button">Show QR Code</button>
              <a data-toggle="collapse" href="#collapse1">Show QR Code</a>
               -->
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              
              <img id="qrcode2" class="img-responsive" src="" alt="This is an image" style="width:400px;height:400px;">
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
      </div>

      <div>
              
        <img id="qrcode" class="img-responsive" src="" alt="This is an image" style="width:400px;height:400px;">
      </div>
    </div>